{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" href={% static "/favicons/favicon%20(1).ico" %} type="image/x-icon">
    <link rel="icon" href={% static "/favicons/favicon%20(1).ico" %} type="image/x-icon">
    <link rel="stylesheet" href={% static "/styles/main.css"%}>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
    <img src={% static "/images/Ellipse%201.png" %} alt="Avatar" class="ava" w>
    <a target="_blank" href="https://www.codewars.com/users/PYninjaAlex" ><img src={% static "/images/Ellipse%203.png" %} alt="Codewars" class="wars"></a>
    <a target="_blank" href="https://github.com/PYninjaAlex"><img src={% static "/images/Ellipse%202.png" %} alt="Github" class="git"></a>
    <span class="header">About me</span>
    <div class="main">
        <img src="../static/images/Rectangle%201.png" alt="Main_img" class="main_img">
        <span class="text">
            My name is Alex I am python developer I am currently learning “Django” I haven’t huge
            experience in the programming, but I began to develop only 4 month ago ,  but I have more
            than two hundreds of 8,7,6,5 kyus katas in “Codewars”, also I am learning “Javascript”,
            “css” and “HTML”. I kwon enough algorithms and data structures.  I will continue
            learning programming and I think I will be a nice programmer in a future. Thx!
        </span>
    </div>
    <a href="database"><span class="db">Database</span></a>
</body>
</html>